@import "https://fonts.googleapis.com/css?family=Roboto+Slab";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-transform: none; }

h1 {
  font-size: 3rem;
  /* 48/16 */
  margin: 0;
  padding: 0 0 18px 0; }

h2, h3 {
  margin-top: 1.875rem;
  /* 30/16 */
  margin-bottom: 20px;
  font-weight: normal; }
  h2 span, h3 span {
    font-size: 1.125rem;
    /* 18/16 */
    font-family: 'Open Sans';
    font-weight: normal;
    background-color: #ecf0f1;
    padding: 0.25rem 0.375rem;
    /* 4/16, 6/16 */
    position: relative;
    top: -0.188rem;
    /* -3/16 */
    margin-left: 0.188rem;
    /* 3/16 */ }

h2 {
  font-size: 2.25rem;
  /* 36/16 */
  font-weight: bold;
  clear: both; }

h3 {
  font-size: 1.75rem;
  /* 28/16 */ }

#top-bar {
  background-color: #ecf0f1;
  width: 100%;
  height: 10px;
  padding-top: 7px;
  margin-bottom: 50px; }

.logo {
  background-color: #2ECC71;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  letter-spacing: -0.063rem;
  /* -1/16 */ }
  .logo.large {
    width: 85px;
    height: 85px;
    border-radius: 45px;
    font-size: 3rem;
    /* 48/16 */
    padding: 0.438rem 0.813rem;
    /* 7/16, 13/16 */
    position: relative;
    left: -145px;
    top: 38px; }
  .logo.footer {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    font-size: 23px;
    padding: 5px 8px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #333;
    letter-spacing: -0.025rem; }
  @media screen and (min-width: 320px) and (max-width: 1280px) {
    .logo {
      margin: 0 auto; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.lead {
  margin: 0;
  line-height: 1.875rem;
  /* 30/16 */
  font-weight: 600; }

p {
  font-size: 1.125rem;
  /* 18/16 */
  font-family: 'Open Sans'; }
  p span {
    font-weight: normal;
    background-color: #ecf0f1;
    padding: 0.25rem 0.375rem;
    /* 4/16, 6/16 */
    position: relative;
    top: -0.188rem;
    /* -3/16 */
    margin-left: 0.188rem;
    /* 3/16 */ }

ul {
  font-size: 1rem;
  /* 16/16 */
  margin: 0;
  line-height: 1.875rem; }

.second {
  padding-top: 23px; }

.skills ul, .honors ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 1.875rem;
  /* 30/16 */
  list-style: disc;
  list-style-position: inside; }
  .skills ul:last-child, .honors ul:last-child {
    margin-right: 0; }
  .skills ul li, .honors ul li {
    margin-bottom: 5px; }

.wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .wrap {
    padding: 25px 25px 0 25px; }

  .logo.large {
    width: 5rem;
    /* 80/16 */
    height: 5rem;
    /* 80/16 */
    font-size: 2.5rem;
    /* 40/16 */
    padding: 0.625rem 0.938rem;
    /* 10/16, 15/16 */
    margin: 0 auto;
    left: 0;
    top: 5px; }

  h1 {
    font-size: 2.625rem;
    /* 42/16 */
    position: relative; }

  #top-bar {
    height: 12px;
    margin-bottom: 105px; }

  h1, h2, .lead {
    text-align: center; }

  h3 {
    text-align: center; }

  h3 > span, p span {
    margin: 12px 0;
    display: block;
    text-align: center; }

  .skills ul, .honors ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 1.875rem;
    /* 30/16 */
    list-style: disc;
    list-style-position: inside; }
    .skills ul:last-child, .honors ul:last-child {
      margin-right: 0; }
    .skills ul li, .honors ul li {
      margin-bottom: 5px; }

  .honors ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .honors ul:last-child {
      margin-right: 0; }

  .center {
    text-align: center; } }
.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em; }

html, body {
  height: 100%; }

.wrapper-for-content-outside-of-footer::after {
  content: "";
  display: block; }

.footer-2, .wrapper-for-content-outside-of-footer::after {
  height: 17em; }
  @media screen and (min-width: 900px) {
    .footer-2, .wrapper-for-content-outside-of-footer::after {
      height: 5.5em; } }
  @media screen and (min-width: 320px) and (max-width: 1280px) {
    .footer-2, .wrapper-for-content-outside-of-footer::after {
      display: none; } }

.footer-2 {
  background: #333;
  display: inline-block;
  padding: 1.5em;
  width: 100%; }
  .footer-2 .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  @media screen and (min-width: 320px) and (max-width: 1280px) {
    .footer-2 {
      height: 12em;
      margin-top: 80px; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 900px) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-bottom: 0;
        margin-left: 1em; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
    @media screen and (min-width: 320px) and (max-width: 1280px) {
      .footer-2 ul li {
        text-align: center;
        margin-bottom: 8px; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 900px) {
    .footer-2 .footer-secondary-links {
      float: right;
      margin-top: 7px; } }
  .footer-2 .footer-secondary-links li {
    font-size: 1em; }
  .footer-2 .footer-secondary-links i {
    color: rgba(255, 255, 255, 0.4);
    margin-right: 7px;
    font-size: 25px;
    position: relative;
    top: 4px; }
  .footer-2 .footer-secondary-links :hover {
    color: #fff; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      line-height: 0;
      margin: 0;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      height: 1.6em;
      opacity: 0.7;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

#back-to-top {
  position: fixed;
  bottom: 210px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: rgba(51, 51, 51, 0.4);
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0; }
  #back-to-top i {
    color: #fff; }
  @media screen and (min-width: 320px) and (max-width: 1280px) {
    #back-to-top {
      bottom: 350px; } }

#back-to-top:hover {
  background: rgba(51, 51, 51, 0.7); }

#back-to-top.show {
  opacity: 1; }



/*# sourceMappingURL=maps/main.css.map */
