doctype html
html(lang="en")
  head
    title Craig Stapp
    link(rel="stylesheet", href="css/main.css")
  body
    h1 Resume Page 
    h2 User Experience Designer - Hewlett Packard Enterprise
    ul
      li Played an integral part in the design development and implementation of a cloud based, mobile enabled sales tool within HPE. Produced initial wireframes, conducted user tests, developed initial prototypes and delivered final code (HTML, CSS, JS) and graphic content. 
      strong good      
      li Managed the production of multiple video features, used to demonstrate the capabilities of internal HPE Sales tools. Created and edited audio, video and graphic content. 
      strong good
    h2 User Experience Designer - Hewlett Packard
    ul
      li Designed, developed, and maintained a responsive, mobile friendly internal Marketing Dashboard. Built initial prototypes, produced HTML and CSS, and implemented final code within a corporate approved content management system (CMS). 
      strong good
    h2 Usability/User Experience Designer - EDS
    ul
      li Helped in the delivery and maintenance of the EDS Web Standards Web site <strong>tweak</strong>. Used by many within the internal web development community as a go to resource for standards and compliance guidance. Built responsive, W3C compliant, HTML Web and Email templates, conducted user tests and participated in usability research.
    h2 Web/Multimedia Designer - GTE / Verizon Communications
    ul
      li Contributed in the production, implementation and maintenance of the GTE.net and GTE.com corporate Web sites. Developed graphic and HTML content. 
      strong tweak
      li Independently produced print and multimedia materials for GTE bi-annual corporate conference. 
      strong tweak
      
